@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background
}

.marginContainer {
  @apply mx-large
}

.textBody {
  @apply font-lato text-small text-darkBrown
}

.textBodyBold {
  @apply font-lato text-small font-bold text-darkBrown
}

.header1 {
  @apply font-kalam text-large text-darkBrown
}

.header2 {
  @apply font-kalam text-medium text-darkBrown
}

.buttonPrimary{
  @apply bg-lightBoard text-background rounded-full font-lato text-small px-8 py-2
  hover:bg-darkBoard
  disabled:bg-gray-500
}

.buttonSecondary{
  @apply bg-lightBeige text-darkBrown rounded-full font-lato text-small px-8 py-2
  hover:bg-darkBeige
}

.buttonNotBg{
  @apply text-darkBrown rounded-full font-lato text-small px-8 py-2
  hover:bg-darkBeige
  hover:text-lightBrown
}

.iconContainer{
  @apply flex flex-row gap-2
}

.container {
  @apply bg-lightBeige py-9 px-2 rounded-md
}

.item{
  @apply text-darkBrown rounded-full px-4 w-full mt-1 cursor-pointer
  hover:bg-darkBeige
}

.input{
  @apply bg-lightBeige border border-darkBrown rounded-md px-3
}