@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background
}

.marginContainer {
  @apply mx-large
}

.textBody {
  @apply font-lato text-small
}

.textBodyBold {
  @apply font-lato text-small font-bold
}

.header1 {
  @apply font-kalam text-large
}

.header2 {
  @apply font-kalam text-medium
}

.buttonPrimary{
  @apply bg-lightBoard text-background rounded-full font-lato text-small px-8 py-3
  hover:bg-darkBoard
}

.buttonSecondary{
  @apply bg-lightBeige text-darkBrown rounded-full font-lato text-small px-8 py-3
  hover:bg-darkBeige
}

.buttonNotBg{
  @apply text-darkBrown rounded-full font-lato text-small px-8 py-3
  hover:text-lightBrown
  hover:bg-lightBeige
}

.iconContainer{
  @apply flex flex-row gap-2
}